<div class="group-wrapper">
	<%= link_to group_path(group.id), :class => "group-link" do %>
		<div class="group-item">
			<div id="side" class="col-md-2">
				<%= render 'group_button', group: group %>
			</div>
			<div class="col-md-10" id= "group-info"> 
				<h3 id="group-title"><%= group.name %></h3>
				<div><%= group.description %></div>
				<div> 
					<% if group.users.size > 0 %>
						<%= group.users.map(&:name).first(3).join(",") %> 
							<% if group.users.size > 3 %>
								<%= "and #{group.users.size - 3} more members" %>
							<% end %>
						<%= "#{group.users.size == 1 ? 'is' : 'are'} in this group." %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>
