<div class="group-wrapper">
	<div class="container groups-container">
		<div id="side" class="col-md-2" style="margin-top: 14px">
			<%= render 'group_button', group: @group %>
		</div>
		<h1 id="group-title"><%= @group.name %></h1>
		<h4> Leader: <%= @group.leader.name || "None" %></h4>

		<div class ="col-md-8" style="float: left"><%= @group.description %></div>

		<% if @group.users.size > 0 %>
			<div id="users" class="col-md-4" style="float: right">
				<%= render "shared/users_list", :title => "Members", :users => @group.users %>
			</div>
		<% else %>
			This group is empty!
		<% end %>
	</div>
</div>