<h1> Events:</h1>
<%= button_to "Create a new event", {action: "new"}, :class => "button medium", :method => :get %>
<% @events.each do |event|%>
    <b><%= event.name %>- </b>
    <%= event.month %> <%= event.day %>, <%= event.year%>
    
    <br>
    <% if event.description.present?%>
        &nbsp; &nbsp; &nbsp; <%= event.description%>
    <%end%>
    <%= button_to "Join event!", events_join_path(:event_id =>  event.id), :class => "button medium", :method => :patch %>
    <%if not event.users.nil? %>
    <b>Attendees: </b><br>
        <% event.users.each do |user| %>
            <%= user.name %> <br>
        <% end%>
    <% end%>
    <br>
<% end%>
